<div class="container" style="margin-top: 20px;">
    <p-table [value]="studentList" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
            <tr [ngClass]="{'inActive': student.isActive == false}">
                <td>{{student.name}}</td>
                <td>{{student.department}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phno}}</td>
                <td>{{student.address}}</td>
                <td>
                    <a pButton pRipple type="button" [routerLink]="['/update',student.id]" icon="pi pi-user-edit"
                        class="p-button-rounded"></a>
                    <a pButton pRipple type="button" (click)="remove(student.id)" style="margin-left: 5px;"
                        icon="pi pi-trash" class="p-button-rounded"></a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <a [routerLink]="['/add']" class="btn btn-primary">Add New</a>
        </ng-template>
    </p-table>
</div>